<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="new.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

    <!-- header starts -->
   <div class="header">
    <div class="header_left">
      <img src="assets/logo2.png" class="logo">
    </div>
    <div class="header_icons">
     <div class="head">
     <a href="#" id="form"><span class="icon-text">المنشور</span></a>
     <a href="#" id="programme"><span class="icon-text">برنامجي</span></a>
     <a href="#" id="course"><span class="icon-text">الدورات</span></a>
     <a href="#" id="active">
      <div class="icon-text-container">
        <i class="material-symbols-outlined">Home</i> <!-- Texte -->
        <span class="icon-text">الرئيسية</span>
      </div>
    </a>
     <div class="space">
      <span class="material-symbols-outlined">account_circle</span>
      </div>
     </div>
   </div>
   </div>
   <!-- header ends -->



    <!-- Main container start -->
    <div class="main-container">
        <!-- Main content start -->
        <div class="main-content">
            <section class="home section">
                <div class="container">
                    <div class="row">
                        <div class="home-info padd-15">
                            <h3 class="hello">الاسم: <span class="name">بن عثمان سيد علي</span></h3>
                            <h3 class="my-profession">استاذ:<span class="typing"> الرياضيات</span></h3>
                            <p>
                            مهتم بالرياضيات ومكرس للتعليم، أنا مدرس في الثانوية ملتزم بإلهام وتوجيه طلابي في استكشاف العالم الرائع من حولهم. بنهج تعليمي ديناميكي وتفاعلي، أسعى لجعل المفاهيم العلمية متاحة ومثيرة. هدفي هو غرس المعرفة الصلبة والفضول اللا متناهي والتفكير النقدي لطلابي، مما يجعلهم مستعدين لمواجهة تحديات العالم الحديث. معًا، نستكشف، نكتشف ونتعلم، نغرس حباً دائماً للعلم والتعلم
                            </p>
                            
                            <a href="#contact" class="btn follow-me">الاشتراك 1000 دج</a>
                        </div>
                        
                        <div class="home-img padd-15">
                           <img src="assets/businessman-black-suit-holding-his-tasklist-makes-thumb-up.jpg" alt="">
                        </div>
                    </div>
                        <div class="personal-info padd-15">
                            <div class="row">
                                <div class="info-item padd-15">
                                    <p>الخبرة : 5 سنوات<span></span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>الشهادات : شهادة الدكتورة في الرياضيات<span></span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>المدينة : البليدة<span></span></p>
                                </div>
                                <div class="info-item padd-15">
                                    <p>ايمايل : <span>BenOthman@gmail.com</span></p>
                                </div>
                            </div>
                        </div>
                </div>
            </section>
        </div>
        <!-- Main content end -->
    </div>
    <!-- Main container end -->

    <!-- emploi-->
   <div class="emploi">
    <!-- <h1>برنامجي</h1> -->
    <div class="emploi_img">
       <img src="assets/emploi.jpg" class="emploi_img">
    </div>
</div>
<!--End emploi-->

<!-- course-->
<div class="course">
    <h1>الدورات</h1>
  <!-- videos starts -->
  <div class="videos_section">
    <!-- <div class="icon"><i id="left" class="fa-solid fa-angle-left"></i></div> -->
   <div class="video_container">


    
     <div class="video math  ">
         <div class="events_item">
             <div class="thumb">
                 <a href="#"><img src="assets/math/3.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
            
         </div>
     </div>
    

     <div class="video math  ">
         <div class="events_item">
             <div class="thumb">
                 <a href="#"><img src="assets/math/4.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
             
         </div>
     </div>
    
     
     <div class="video math ">
         <div class="events_item">
             <div class="thumb">
                 <a href="#"><img src="assets/math/11.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
         </div>
     </div>  
     
     <div class="video math ">
         <div class="events_item">
             <div class="thumb">
                 <a href="video.html"><img src="assets/math/12.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
         </div>
     </div>  
     <div class="video math ">
         <div class="events_item">
             <div class="thumb">
                 <a href="video.html"><img src="assets/math/12.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
         </div>
     </div>  
     <div class="video math ">
         <div class="events_item">
             <div class="thumb">
                 <a href="video.html"><img src="assets/math/12.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
         </div>
     </div>  
     <div class="video math ">
         <div class="events_item">
             <div class="thumb">
                 <a href="video.html"><img src="assets/math/12.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
         </div>
     </div>  
     <div class="video math ">
         <div class="events_item">
             <div class="thumb">
                 <a href="video.html"><img src="assets/math/12.jpg" alt=""></a>
                 <span class="price"><h6><em>da</em>3000</h6></span>
             </div>
         </div>
     </div>  
     
<!-- videos ends -->
</div>
</div>
<!-- <div class="icon"><i id="right" class="fa-solid fa-angle-right"></i></div> -->
</div>
<!--End course-->


<div class="footer">
    <h1>منشور</h1>
    <input type="text" placeholder="... اكتب هنا">
    <input type="url" placeholder="  رابط الدعوة ">
    <input type="submit" value="ارسال">
 </div>


</body>
</html>